<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<%- include('menu.html') %>

<div class="container-fluid vh-100 d-flex align-items-center">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="https://source.unsplash.com/1600x900/?beach" class="card-img-top" alt="Beach">
                <div class="card-body">
                   <h5 class="card-title">해변 사진</h5>
                   <h6 class="card-subtitle mb-2 text-muted">몰디브</h6>
                   <p class="card-text">해변을 즐길수 있는 여행지입니다.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h1>몰디브</h1>
                <p>
                    몰디브(Maldives)는 아시아의 남서쪽에 위치한 섬나라로, 인도양에 속해 있습니다. 몰디브는 아름다운 자연 환경, 탁월한 해변, 다양한 해양 생물, 그리고 고급 리조트로 유명합니다. 다음은 몰디브의 관광 특징 중 일부입니다:</p>
                    
                    <p>    탁월한 해변과 산호초 리프: 몰디브는 푸른 인도양에서 놀라운 백사장과 아름다운 산호초 리프로 유명합니다. 이곳에서는 다양한 수상 활동을 즐길 수 있으며, 다이빙과 스노클링을 통해 아름다운 해양 생물을 만날 수 있습니다.</p>
                    
                        <p>    수중 호텔과 오버워터 빙갈로: 몰디브는 세계적으로 유명한 수중 호텔과 오버워터 빙갈로(수중 목조 건물)로 유명합니다. 이곳에서는 투명한 인도양을 바라보며 휴가를 즐길 수 있습니다.</p>
                    
                            <p>    낭만적인 리조트: 몰디브에는 세계적인 낭만적인 여행지로 알려진 고급 리조트가 많이 있습니다. 사랑하는 이와 함께 휴식을 취하고 자연의 아름다움을 만끽할 수 있습니다.</p>

                           <p>   문화적인 경험: 몰디브는 특유의 문화와 전통을 갖추고 있습니다. 현지 음식 체험, 전통적인 춤과 음악 감상 등을 통해 몰디브의 문화를 느낄 수 있습니다.</p>
                  
                        </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
