<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<%- include('menu.html') %>

<div class="container-fluid vh-100 d-flex align-items-center">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="https://source.unsplash.com/1600x900/?city" class="card-img-top" alt="City">
                <div class="card-body">
                 <h5 class="card-title">도시 사진</h5>
                 <h6 class="card-subtitle mb-2 text-muted">뉴욕</h6>
                 <p class="card-text">여행지 도시에서 담은 사진입니다.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h1>뉴욕</h1>
                <p>뉴욕은 미국의 동북부에 위치한 도시로서 세계적으로 유명한 명소, 문화적인 장소, 역사적인 유적지 등이 많습니다. 아래는 뉴욕의 주요 관광 특징 중 일부입니다:</p>

                    <p>   타임스 스퀘어 (Times Square): 뉴욕의 상징 중 하나로, 거대한 전광판과 화려한 광고로 유명한 광장입니다. 여기는 뉴욕의 광고와 엔터테인먼트의 중심지입니다.</p>
                    
                        <p>  자유의 여신상 (Statue of Liberty): 뉴욕 항구 입구에 위치한 자유의 여신상은 미국의 상징이자 세계적인 유명 명소 중 하나입니다.</p>
                    
                            <p>  엠파이어 스테이트 빌딩 (Empire State Building): 세계에서 가장 높은 빌딩 중 하나로, 맨해튼의 중심부에 위치해 있습니다. 전망대에서는 뉴욕 시티의 아름다운 경치를 감상할 수 있습니다.</p>
                    
                                <p>  센트럴 파크 (Central Park): 맨해튼 중심부에 위치한 대규모의 도시 공원으로, 자연 경관과 다양한 활동, 예술 작품 등이 즐길 수 있는 장소입니다.</p>

                               <p>  뉴욕 미술관 (The Metropolitan Museum of Art): 메트로폴리탄 미술관은 세계적인 미술 작품 소장으로 유명하며, 다양한 종류의 예술 작품을 감상할 수 있는 대규모 미술관입니다.</p>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
