<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<%- include('menu.html') %>

<div class="container-fluid vh-100 d-flex align-items-center">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="https://source.unsplash.com/1600x900/?Forest" class="card-img-top" alt="Forest">
                <div class="card-body">
                  <h5 class="card-title">숲 사진</h5>
                  <h6 class="card-subtitle mb-2 text-muted">벨기에</h6>
                  <p class="card-text">울창한 숲이 눈에 띄는 여행지입니다.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h1>벨기에</h1>
                <p>
                    벨기에는 아름다운 도시와 역사적인 명소, 맛있는 음식, 예술 등으로 유명한 국가입니다. 아래는 벨기에의 주요 관광 특징 중 일부입니다:</p>
                    
                    <p>    브뤼셀 (Brussels): 벨기에의 수도로, 유럽 연합과 NATO의 본부가 위치하고 있습니다. 그랑 플라스 광장과 만남의 상징인 만이 피스타와 같은 명소가 있습니다.</p>
                    
                        <p>   브뤼헤 (Brugge): 벨기에의 중세 도시로, 세계문화유산에 등재된 브뤼헤는 그림 같은 운치와 아름다운 운널이 특징입니다.</p>
                    
                            <p>  앤트워프 (Antwerp): 세계 다이아몬드 거래의 중심지이자, 피터 파울 루벤스의 태생지인 앤트워프는 아름다운 성당과 예술적인 분위기로 유명합니다.</p>
                    
                                <p>     기른 (Ghent): 벨기에의 역사적인 도시 중 하나로, 중세 시대의 건축물과 강 건너편의 성이 독특한 분위기를 조성합니다.</p>
                    
                                    <p>  나미르 (Namur): 매우 아름다운 도시로, 시간이 멈춘 듯한 평화로운 분위기와 함께 마을을 둘러싼 성벽이 특징입니다.</p>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
