<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<%- include('menu.html') %>

<div class="container-fluid vh-100 d-flex align-items-center">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="https://source.unsplash.com/1600x900/?Sky" class="card-img-top" alt="Sky">
                <div class="card-body">
                    <h5 class="card-title">하늘 사진</h5>
                    <h6 class="card-subtitle mb-2 text-muted">발리</h6>
                    <p class="card-text">푸른 하늘을 품은 여행지입니다.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h1>발리</h1>
                <p>
                    발리는 인도네시아의 섬 중 하나로 아름다운 자연 경관, 문화적 풍부함, 예술적인 전통, 풍부한 역사 등으로 유명한 관광지입니다. 아래는 발리의 주요 관광 특징 중 일부입니</p>
                    
                    <p>   아름다운 해변: 발리는 아름다운 백사장과 푸른 바다로 유명합니다. 쿠투, 세빅, 패닌지 등 여러 해변이 관광객들에게 사랑을 받고 있습니다.</p>
                    
                        <p>   우붓: 세계적인 서핑 천국으로 유명한 우붓은 파도가 높고 조건이 좋아 서핑을 즐기기에 최적의 장소 중 하나입니다.</p>
                    
                            <p>   우붓 국립 공원 (Ubud Monkey Forest): 우붓에 위치한 이 공원은 수많은 원숭이와 아름다운 정글로 유명하며, 자연과 문화가 조화를 이루고 있습니다.</p>
                    
                                <p>  푸라 섬 (Pura Besakih Temple): 발리의 가장 크고 신성한 힌두 사원으로, 화산의 기슭에 위치하고 있습니다. 발리의 가장 중요한 예배지 중 하나입니다.</p>
                    
                                    <p>  탄아 로트 (Tanah Lot): 바다에 돌출된 바위 위에 세워진 탄아 로트는 일몰이 아름다운 곳으로 유명합니다. 특히 일몰 시간에는 멋진 풍경을 즐길 수 있습니다.</p>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
